<!DOCTYPE html>

<html lang="es" >
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body ng-app="TodoApp">
        
        #{doLayout /}

        <script src="@{'/public/javascripts/lib/jquery-1.11.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/lib/angular.min.js'}"></script>
        <script src="@{'/public/javascripts/lib/angular_resource.min.js'}"></script>
        <script src="@{'/public/javascripts/app/app.js'}"></script>
        <script src="@{'/public/javascripts/app/services.js'}"></script>
        <script src="@{'/public/javascripts/app/controllers.js'}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
